body{
    margin: 0px;
}

#main {
    background-color: black;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box1 {
    height: 100px;
    width: 200px;
    margin: 0px;
    padding: 0 px;
    border-color: red;
    border-style: dotted;
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px 200px);
    /*transform: rotate(120deg);*/
    animation-name: buy;
    animation-duration: 4s;
    animation-iteration-count: 3;
    position:relative;
    right: 100px;
    bottom: 200px;
    

}

.box2 {
    border: 1px solid rgb(253, 5, 5);
}

@keyframes buy {
    0% {background-color: red; left0px;top0px;}
    25% {background-color: yellow; left: 200px}
    50% {background-color: blue; left:200px;top:200px;}
    75% {background-color: green; left:0px;top:200px;}
    100% {background-color: red; left:0px;top:200px;}

}