.main {
    height: 600px;
    width: 600px;
    background-color: chartreuse;
    display: flex;
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*justify-content: space-evenly;*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;*/
    align-items: center;
    /*align-items: baseline;*/
    /*align-items: stretch;*/
    /*flex-direction: row-reverse;*/
    /*flex-flow:column-reverse wrap-reverse;*/
    /*justify-content:center;*/
    
}

.box1 {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(253, 5, 5);
    color:rgb(9, 255, 21);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: rotate(180deg);*/
}

.box2 {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(253, 5, 5);
    color:rgb(9, 255, 21);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;